<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-2 col-lg-2 col-sm-2">
      <!--Sidebar content-->
      <div>Saved Expressions:</div>
      <span id="regexs"></span>
      <script id="regex-template" type="text/template">
        {{ if( _.size(regexs) > 0 ){ }}
          {{ regexs.forEach( function(regex){ }}
            <div><a class="link" cid="{{= regex.cid }}">{{= regex.expression  }}</a><span cid="{{= regex.cid }}" class="link glyphicon glyphicon-remove" aria-hidden="true"></span></div>
          {{  });  }}
        {{ } else {   }}
          <div class="placeholder">No saved expressions</div>
        {{ } }}
      </script>
    </div>
    <div class="col-xs-10 col-lg-10 col-sm-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <section id="text-section">
            <strong>Search Results (found matches are highlighted)</strong>
            <div class="panel panel-default">
              <div class="panel-body search-results">
              </div>
            </div>
            <div class="form-group">
              <label>Enter text to be searched here</label>
              <textarea class="form-control" rows="3"></textarea>
            </div>
          </section>
          <section id="regex-input-section">
            <div class="form-group">
              <label>Enter regular expression to match with text above</label>
              <input id="regex-input" type="text" class="form-control">
            </div>
            <div class="form-group">
              <input id="regex-btn" class="btn btn-default" type="button" value="Save">
            </div>
          </section>
        </div>
      </div>
    </div>

  </div>
</div>
