<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-2 col-lg-2 col-sm-2">
      <!--Sidebar content-->
      Previous Searches
    </div>

    <div class="col-xs-10 col-lg-10 col-sm-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <section id="text-section">
            <strong>Search Results (found matches are highlighted)</strong>
            <div class="panel panel-default">
              <div class="panel-body search-results">
              </div>
            </div>
            <div class="form-group">
              <label>Enter text to be searched here</label>
              <textarea class="form-control" rows="3"></textarea>
            </div>
          </section>
          <section id="regex-input-section">
            <div class="form-group">
              <label>Enter regular expression to search text</label>
              <input id="regex-input" type="text" class="form-control">
            </div>
            <div class="form-group">
              <input id="regex-btn" class="btn btn-default" type="button" value="Search">
            </div>
          </section>
        </div>
      </div>
    </div>

  </div>
</div>
