.search-results {
  white-space: pre-wrap;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #001900;
  color: white;
}

.highlight {
  /*background-color: yellow;
  color: black;*/

    border-radius: 25px;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */



    background: yellow;
    border: 2px solid #666;
    color: black;
    text-align: center;

    /*font: 32px Arial, sans-serif;*/
}

.placeholder {
  color: #999;
}

.link {
  cursor: pointer;
}
